<!DOCTYPE html>
<script type="text/javascript">
    let startTime = new Date().getTime();
</script>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<div class="wrapper">
    <div class="content">
        <form action = "auth" method = "POST">
            <h1> Авторизация</h1>
            <p>Введите логин: <input type = "text" name = "login"/> </p>
            <p>Введите пароль: <input type = "password" name = "password"/> </p>
            <p> <input type = "submit" value = "Ок" />
        </form>
        <span th:text="${info}"/>
    </div>
    <div class="footer">
        <p id="generationTime"></p>
        <script type="text/javascript">
            let elapsedTime = new Date().getTime() - startTime;
            document.getElementById("generationTime").innerHTML = "page: " + elapsedTime + " ms";
        </script>
    </div>
</div>
</body>

</html>
