<!DOCTYPE html>
<script type="text/javascript">
    let startTime = new Date().getTime();
</script>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="scripts/playerScripts.js"></script>
        <title>Меню дуэлей</title>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
    <body xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="wrapper">
            <div class="content">
                <h1 th:text="'Дуэли, ' + ${player.login}" />
                <p th:text="'Ваш рейтинг: ' + ${player.rating}" />
                <p th:text="${info}" />
                <div th:switch="${isLoading}">
                    <div th:case="true">
                            <script type="text/javascript">
                                console.log("${isLoading}");
                                setInterval(() => updateSearchStatus("1111"), 1000);
                            </script>
                        <p>Идет поиск соперника</p>
                    </div>
                    <p th:case="false">
                        <script type="text/javascript">
                            window.location.replace("/duel");
                        </script>
                    </p>
                    <div th:case="*">
                        <form action="search" method="post">
                            <input type="submit" value="Поиск соперника">
                        </form>
                        <form action="quit" method="post">
                            <input type="submit" value="Выйти">
                        </form>
                    </div>
                </div>

            </div>
            <div class="footer">
                <p id="generationTime"></p>
                <script type="text/javascript">
                    let elapsedTime = new Date().getTime() - startTime;
                    document.getElementById("generationTime").innerHTML = "page: " + elapsedTime + " ms";
                </script>
            </div>
        </div>
    </body>
</html>