<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
        <title>Меню дуэлей</title>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
    <body xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="wrapper">
            <div class="content">
                <h1 th:text="'Дуэли, ' + ${login}" />
                <p th:text="'Ваш рейтинг: ' + ${rating}" />
                <p th:text="${info}" />
                <p>
                    <form action="search" method="post">
                        <input type="submit" value="Поиск соперника">
                    </form>
                </p>
                <p>
                    <form action="quit" method="post">
                        <input type="submit" value="Выйти">
                    </form>
                </p>

            </div>
            <div class="footer">
                <p>page:
                </p>
            </div>
        </div>
    </body>
</html>