<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Дуэль</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
    <body xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="wrapper">
            <div class="content">
                <h1 th:text="'Начинается дуэль, ' + ${login}" />
                <table align="center" cellspacing="5" cellpadding="5">
                    <tr>
                        <td> <p th:text="'Вы: ' + ${login}" /> </td>
                        <td> <p th:text="'Ваш оппонент: ' + ${opponentLogin}" /> </td>
                    </tr>
                    <tr>
                        <td> <p th:text="'Ваш показатель жизни: ' + ${userHp}" /> </td>
                        <td> <p th:text="'Показатель жизни соперника: ' + ${opponentHp}" /> </td>
                    </tr>
                    <tr>
                        <td>
                            <progress th:max=${userHpBeforeDuel} th:value=${userHp} />
                        </td>
                        <td>
                            <progress th:max=${opponentHpBeforeDuel} th:value=${opponentHp} />
                        </td>
                    </tr>
                </table>

                <p th:text="${info}"/>

                <p>
                    <form action="attack" method="post">
                        <input type="submit" value="Атака">
                    </form>
                </p>
                <p>
                    <form action="menu" method="post">
                        <input type="submit" value="Выйти">
                    </form>
                </p>
            </div>
            <div class="footer">
                <p>page:
                </p>
            </div>
        </div>
    </body>
</html>