<!DOCTYPE html>
<script type="text/javascript">
    let startTime = new Date().getTime();
</script>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="scripts/playerScripts.js"></script>
    <title>Дуэль</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
    <body xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="wrapper">
            <div class="content">
                <h1 th:text="'Начинается дуэль, ' + ${player.login}" />
                <p id="timer"></p>
                <table align="center" cellspacing="5" cellpadding="5">
                    <tr>
                        <td> <p th:text="'Вы: ' + ${player.login}" /> </td>
                        <td> <p th:text="'Ваш оппонент: ' + ${opponent.login}" /> </td>
                    </tr>
                    <tr>
                        <td> <p th:text="'Ваш показатель жизни: ' + ${player.hp}" /> </td>
                        <td> <p th:text="'Показатель жизни соперника: ' + ${opponent.hp}" /> </td>
                    </tr>
                    <tr>
                        <td>
                            <progress th:max=${playerHpBeforeDuel} th:value=${player.hp} />
                        </td>
                        <td>
                            <progress th:max=${opponentHpBeforeDuel} th:value=${opponent.hp} />
                        </td>
                    </tr>
                </table>
                <div th:switch="${status}">
                    <div th:case="INITIATED">
                        <script type="text/javascript">
                            let countDownDate = new Date().getTime() + 60 * 1000;
                            setInterval(() => countdownTimer(countDownDate), 1000);
                        </script>
                    </div>
                    <div th:case="IN_PROGRESS">
                        <div>
                            <script type="text/javascript">
                                setInterval(() => updateDuelStatus("1111"), 1000);
                            </script>
                            <form action="attack" method="post">
                                <input id="attack" type="submit" value="Атаковать">
                            </form>
                            <form action="menu" method="post">
                                <input id="quit" type="submit" value="Выйти">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p style="white-space: pre-wrap" th:text="${info}"/>
                <p id="generationTime"></p>
                <script type="text/javascript">
                    let elapsedTime = new Date().getTime() - startTime;
                    document.getElementById("generationTime").innerHTML = "page: " + elapsedTime + " ms";
                </script>
            </div>
        </div>
    </body>
</html>