<!DOCTYPE html>
<script type="text/javascript">
    let startTime = new Date().getTime();
</script>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Главное меню</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
    <body xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="wrapper">
            <div class="content">
                <h1 th:text="'Добро пожаловать, ' + ${login}" />
                <p th:text="'Ваш рейтинг: ' + ${rating}" />
                <p>
                    <form action="duelInfo" method="post">
                        <input type="submit" value="Перейти к дуэлям">
                    </form>
                </p>
                <p>
                    <form action="quit" method="post">
                        <input type="submit" value="Выход">
                    </form>
                    </p>
            </div>
            <div class="footer">
                <p id="generationTime"></p>
                <script type="text/javascript">
                    let elapsedTime = new Date().getTime() - startTime;
                    document.getElementById("generationTime").innerHTML = "page: " + elapsedTime + " ms";
                </script>
            </div>
        </div>
    </body>
</html>